<div class="content">
    <div class="container-fluid">
        <h2 class="text-center">Selamat datang Admin Dinas Pariwisata Daerah Istimewa Yogyakarta</h2>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="card ">
                    <!-- <div class="card-header "> -->
                        <!-- <h4 class="card-title">Yogyakarta</h4> -->
                        <!-- <p class="card-category">Last Campaign Performance</p> -->
                    <!-- </div> -->
                    <div class="card-body ">
                        <!-- <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div> -->
                        <!-- <div class="map-container">
                            <div id="map"></div>
                        </div> -->
                        <div class="map-container">
                            <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB2OQfTq6-sv1H1EehvZrSJKvLJgJcbzME&q=Yogyakarta" width="100%"
                            height="100%" frameborder="0" style="border:0"></iframe>
                        </div>
                    </div>
                    <div class="card-footer ">
                        <!-- <div class="legend">
                            <i class="fa fa-circle text-info"></i> Open
                            <i class="fa fa-circle text-danger"></i> Bounce
                            <i class="fa fa-circle text-warning"></i> Unsubscribe
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Campaign sent 2 days ago
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" width="100px" height="100px">
                    </div>
                    <h3 class="text-center" id="intro">Kupantau adalah sebuah aplikasi yang dapat digunakan untuk memantau serta merekomendasikan perbaikan fasilitas pada objek wisata berdasarkan ulasan wisatawan</h3>
                    <br>
                    <div class="d-flex justify-content-center">
                        <a href="/attractions" class="btn btn-danger btn-lg">MULAI</a>
                    </div>
                </div>

                <style>
                    #intro {
                        font-weight: lighter !important;
                    }
                </style>
            </div>
        </div>
    </div>
</div>