<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'includes/_head.html' %}
</head>

<body>
    <div class="wrapper">
        
        <!-- <div class="main-panel"> -->
            {% include 'includes/_navbar.html' %}
            
            {% include 'includes/_content-dashboard.html' %}
            
            {% include 'includes/_footer.html' %}
        <!-- </div> -->
    </div>
    
</body>


{% include 'includes/_scripts.html' %}
<script src="{{ url_for('static', filename='js/includes/_dashboard.js') }}" type="text/javascript"></script>

</html>